<h1>Create Post</h1>
<form action="/admin/posts/create" method="post">

<div class="form-group">

    <label for="RotXx">Rot X</label>
    <input type="number" name="RotX" class="form-control">
</div>

    <div class="form-group">
        <label for="RotYy">Rot Y</label>
        <input name="RotY" type="number" class="form-control">
    </div>


    <div class="form-group">

        <label for="RotZz">Rot Z </label>
        <input name="RotZ" type="number" class="form-control" >

    </div>

    <div class="form-group">

        <label for="Redd">Red </label>
        <input name="Red" type="number" class="form-control" >

    </div>

    <div class="form-group">

        <label for="Greenn">Green</label>
        <input name="Green" type="number" class="form-control" >

    </div>

    <div class="slidecontainer">

        <label for="Bluee">Blue </label>
        <input name="Blue" type="number" class="form-control" >

    </div>

<button type="submit" class="btn btn-primary"> Submit </button>
</form>